# Các thư mục build và công cụ
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Các folder
/android/
/ios/
/macos/
/linux/
/windows/

# File lock và cấu hình IDE
pubspec.lock
.idea/
.vscode/
*.imlgit rm -r --cached .